@model HomeViewModel

@await Html.PartialAsync("Slider")

<h2>Something of our offer</h2>

<div class="row">

    @foreach (var product in Model.SomeGames)
    {
        @Html.Partial("ProductsSummary", product)
    }

    <div class="col-md-3">
        
    </div>

    <div class="col-md-3">
       
    </div>

    <div class="col-md-3">
        
    </div>

    <div class="col-md-3">
        
    </div>
</div>
